.cart-list
{
    position: absolute;
    right: 105px;
    top: 120px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    border:1px solid #ded1d1;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    border-radius: 3px;

    .cart-list-items
    {
        width: 220px;
        height: 80%;
        margin: auto;
    }
}